*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{

    width: 100%;
    position: absolute;
    bottom: 0;
}

.pie-pagina{

    width: 100%;
    backdrop-filter: blur(15px);
    z-index: 1000;
   
    
}

.pie-pagina .grupo-1{

    width: 100%; /* ANCHO */
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{

    width: 100%; /* Ancho */
    height: 100%; /* Alto */
    display: flex;
    justify-content: center; /* Centrado Horizontal*/
    align-items: center; /* Centrado Vertical */
}

.pie-pagina .grupo-1 .box figure i{

    font-size: 100px;
    color: orange;

}

.pie-pagina .grupo-1 .box h2{

    color: orange;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{

    color: rgb(255,255,255,0.8);
    margin-bottom: 10px;
    font-family: bold;
}

.pie-pagina .grupo-1 .red-social a{

    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{

    color: orange;
}

.pie-pagina .grupo-2{
    
    color: #fff;
    padding: 15px 10px;
    text-align: center;
}

.pie-pagina .grupo-2 small{

    font-size: 15px;
}

@media screen and (max-width:800px){

    .pie-pagina .grupo-1{

        width: 90%; /* ANCHO */
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

